<div>
  <h1>Convert your favorite blog to a Kindle Ebook</h1>
  
  <p>
    Blog2Ebook is a tiny app that takes a blog (via RSS feed) and converts it to a Kindle Ebook. (it currently only supports the <i>Kindle</i> ebooks.)
  </p>

  <div class="row">
    <div class="span5">
      <h5>
        Before your kindle account will accept eBooks from this app make sure to follow the <a data-toggle="modal" data-target="#setupNotice">setup instructions</a>.
      </h5>

      <hr/>
      <p class='usage'>
        This app relies on free resources, so currently it can only be used a limited number of times a day. There are <span><%= @usage %></span> uses remaining today.
      </p>

      <%= erb :setup_notice %>

      <h3>Convert URL (RSS or Article)<br/> to Kindle Book</h3>
      <form action="/kindleize" method="post">
        <label>url to convert: 
          <input type="text" name="url" placeholder="http://codeascraft.com/feed/" <%= possilbe_url_value %> />
        </label>
        <label>Kindle Email: 
          <input type="text" name="email" placeholder="brucewayne@free.kindle.com" />
        </label>
        <input type="submit" name="submit" value="Kindleize It" class="button" />
        <input type="submit" name="preview" value="Preview It" class="button" />
      </form>

      <h3>Content to Book</h3>
      <form action="/kindleizecontent" method="post">
        <input type="submit" name="submit" value="Kindleize It" class="button stacked" />
        <input type="submit" name="preview" value="Preview It" class="button stacked" />
        <label>Kindle Email: 
          <input type="text" name="email" placeholder="brucewayne@free.kindle.com" />
        </label>
        <label>Content: 
          <textarea name="content" placeholder="pasted in content"><%= possilbe_content_value %></textarea>
        </label>
      </form>
    </div>
    
    <div class="span7">
      <div class="kindle-book">
        <div class="content">
          <% if @preview!=nil %>
            <p><%= @preview %></p>
          <% else %>
            <h2>Kindle Ebook Content Preview</h2>
            <p>
              Blog2Ebook supports importing from a few different formats to make a <i>Kindle</i> book: 
              <ul>
                <li>RSS feed to Kindle (Great for sending blogs to read later)</li>
                <li>Single post to Kindle (useful because some https sites no longer allow bookmarklets)</li>
                <li>PDF files emailed to kindle, just paste the PDF link in the url</li>
		<li>ePub files emailed to kindle, just paste the ePub link in the url</li>
                <li>Copied article text to Kindle</li>
              </ul>
            </p>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
